*~
*.lxt
*.pyc
*.vvp
*.kate-swp
rev/
vivado*
project_synth/

.vscode

xsim.dir/
xvlog*

tb_demo.v
*.bit
*.xml
hbs/
ip_user_files/
*.log
*.jou
xgui/
data/
ip_proj/
project_sim/
project_pktgen/

export_sim/
*.pb

.DS_Store
.so
